*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: weight; */
  /* font-style: normal; */
}


/* navbar-section */

.navbar-parent{
    max-width: 1600px;
    /* border: 2px solid red; */
    background-color: #1A0B2E;
}

.navbar-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 24px;
    padding-bottom: 24px;
    /* border: 2px solid green; */
}

.nav-brand{
    font-size: 2.50rem;
    font-weight: 700;
    /* animation:; */
}

.liner-brand{
    background: linear-gradient(to top,
    #F7E93F,
    #FB09B4,
    #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu{display: flex;
    gap: 32px;
    list-style: none;

}

.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.btn-subscribe{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    gap: 4px;
    border-radius: 10000px;
}


/* shared-style */

.text-color{
    color: #FFFFFF;
}

.liner-background{
    background:linear-gradient(45deg,
    #F7E93F,
    #FB09B4,
    #9100F8);
}