*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: weight; */
  /* font-style: normal; */
}


/* navbar-section */

.navbar-parent{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-color: #1A0B2E;
}

.navbar-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 24px;
    padding-bottom: 24px;
    /* margin-bottom: 0.4px; */
    /* border: 2px solid green; */
}

.nav-brand{
    font-size: 2.50rem;
    font-weight: 700;
    /* animation:; */
}

.liner-brand{
    background: linear-gradient(to top,
    #F7E93F,
    #FB09B4,
    #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu{display: flex;
    gap: 32px;
    list-style: none;

}

.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.btn-subscribe{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
}

.btn-subscribe>i{
    padding-left: 4px;
}

.btn-subscribe:hover{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    gap: 4px;
    border-radius: 10000px;
    /* animation: ; */
    cursor: pointer;
}

.bars{
    color: #FFFFFF;
    display: none;
}

/* shared-style */

.text-color{
    color: #FFFFFF;
}

.liner-background{
    background:linear-gradient(45deg,
    #F7E93F,
    #FB09B4,
    #9100F8);
}



/* .banner-section */



.banner-section{
    max-width: 1600px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.hero-bg{
    position: relative;
}

.position{
    position:relative;
}

.hero-circle{
    /* position: absolute; */
    top: -600px;
}

.microphone{
    /* position: absolute; */
    top: -870px;
}

img{
    max-width: 100%;

}

.position-relative{
    position: relative;
}

.banner-text{
    position: relative;
    top: -761px;
    text-align: center;
    padding-bottom: 112px;
}

.banner-text>h2{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-text>p{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 24px;
}

.left-btn{
    padding: 12px 20px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10000px;
    cursor: pointer;
    border: none;
}

.left-btn>i{
    padding-right: 8px;
}

.right-btn{
    color: #00FF88;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-clip: text;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.right-btn>i{
    padding-right: 12px;
}

.new{
    position: absolute;
    background-color: #00FF88;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 1000px;
    box-shadow: 0px 0px 10px #00FF88;
    top: 30px;
    right: 5px;
}

.podcast{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 2px solid red; */
    position: relative;
    top: -818px;
    text-align: center;
    padding-top: 120px;
    background-color: #1A0B2E;
}
.podcast h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.podcast p{
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
}

.horizontal-line{
    margin: 80px auto;
    border: 1px solid #451f75;
    vertical-align: middle;
    width: 1200px;
}

.podcast-card{
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.podcast-card h1{
    color: #00FF88;
    font-size: 3rem;
}

.podcast-card p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 200;
    padding-top: 16px;
    margin-bottom: 120px;
}



/* grid container */



.grid-relative{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    bottom: 818px;
    background-color: #230E3D;

}

.grid-container-title{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #230E3D;
    color: #FFFFFF;
    padding-bottom: 40px;
    padding-top: 120px ;
    font-size: 3rem;
    font-weight: 700;
}

.grid-container{
    max-width: 1600px;
    width: 1200px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    padding-bottom: 120px;
}

.grid-1{
    padding: 107px 40px;
    background-color: #351165;
    border-radius: 40px;
    grid-row: span 2;
    color: #FFFFFF;
}

.grid-2, .grid-3, .grid-4, .grid-5{
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    color: #FFFFFF;
    gap: 16px 40px;
}

.grid-padding{
    padding: 16px 40px;
}

.font-size-grid{
    font-size: 24px;
    font-weight: 700;
}

.font-style-grid-p{
    line-height: 24px;
    font-size: 1rem;
    font-weight: 200;
}

.grid-2{
    grid-column: span 2;
}

.grid-3{
    grid-column: span 2;
}

.grid-4{
    grid-column: span 2;
}
.grid-padding>i{
    width: 60px;
    height: 60px;
    background:linear-gradient(45deg,
    #F7E93F,
    #FB09B4,
    #9100F8);
    align-content: center;
    border-radius: 10px 0 20px;
}

    /* video section */

    .video-section>h1{
        text-align: center;
        padding-bottom: 40px;
        font-size: 48px;
        font-weight: 700;
    }

.video-section{
    position: relative;
    top: -818px;
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 120px;
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.video-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.video{
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: #250D44;
}

.video-text{
    padding: 24px;
    line-height: 24px;
}

.video-text>h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.video-text>p{
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: 200;
}

.video-text>ol{
    color: #00FF88;
    margin-top: 16px;
    /* border:1px solid #F7E93F; */
}

.hoster-section{
    position: relative;
    top: -818px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.host-title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 700;
}

.hoster-container{
    /* border: 2px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
}

.hoster-img{
    width: 200px;
    height: 200px;
}

.hoster-name{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
}

.hoster-experience{
    line-height: 24px;
    font-size: 1rem;
    font-weight: 200;
    padding-bottom: 1rem;
}

ul a{
    border: 2px solid #533C72;
    height: 40px;
    width: 40px;
    border-radius: 1000px;
    padding: 8px;
    margin-right: 8px;
}















@media screen and (max-width:576px) {
    .bars{
    color: #FFFFFF;
    display:inline;
    }

    .menu{display: flex;
    gap: 32px;
    list-style: none;
    display: none;
    }

    .btn-subscribe, .btn-subscribe>i{
    padding-left: 4px;
    display: none;
    }

    .navbar-parent{
    /* max-width: 1600px; */
    margin: 0 auto;
    /* border: 2px solid red; */
    background-color: #1A0B2E;
}
    .navbar-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding-top: 24px;
    padding-bottom: 24px;}

    /* podcast section 1 */

    .hero-circle {
    position: relative;
    top: -180px;
    width: 85px;
}
    .hero-circle>img{
        max-width: 100%;
    }

    .microphone{
    position: relative;
    top: -245px;
    width: 25px;
}
    .new {
    background-color: #00FF88;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 5px;
    border-radius: 1000px;
    box-shadow: 0px 0px 10px #00FF88;
    top: 5px;
    right: -6px;
}


.banner-text{
    position: relative;
    top: -200px;
    text-align: center;
    padding-bottom: 112px;
}

.banner-text>h2 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0px;
}

.banner-text>p {
    font-size: 6px;
    font-weight: 200;
    margin-bottom: 1px;
}


.left-btn {
    padding: 4px 6px;
    font-weight: 600;
    font-size: 8px;}

    .right-btn {
    color: #00FF88;
    padding: 4px 6px;
    font-size: 8px;
}

    /* podcast section 2 */

.podcast{
    margin: 0;
    position: relative;
    top: -301px;
    text-align: center;
    padding: 40px 20px;
    background-color: #1A0B2E;
}

.podcast h2{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.podcast p{
    font-size: 8px;
    font-weight: 200;
    line-height: 20px;
}

.horizontal-line{
    margin: 40px auto;
    border: 1px solid #451f75;
    vertical-align:auto;
    width: 300px;
}

.podcast-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    gap: 10px;
    align-content: center;
    justify-content: center;
    
}

.podcast-card h1{
    font-size: 40px;
}


/* grid section */


.grid-container-title{
    font-size: 2rem;
}

.font-size-grid{
    font-size: 20px;
}

.font-style-grid-p{
    font-size: 10px;
}

    .grid-container {
        max-width: 350px;
        grid-template-columns: repeat(1, 310px);
        grid-template-rows: repeat(1, 1fr);
        padding-bottom: 40px;
    }

 .grid-1 {
    padding: 12px 0px;
    margin-left: 25px;
}

.grid-2, .grid-3, .grid-4, .grid-5 {
    padding: 12px 0px;
    margin: 0 40px;
}

    /* video-section */

    .video-container{
        grid-template-columns: repeat(1,300px);
    }

    .video{
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: #250D44;
    width: 380px;
    margin: 0 20px 16px;
}

.video-text>h3{
    font-size: 20px;}
    
    .video-text>p{
        font-size: 12px;
    }

    .video-section>h1{
        font-size: 2rem;
    }

    .host-title{
    margin-bottom: 24px;
    font-size: 2rem;}

    .hoster-container{
    text-align: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 24px;
    align-items: center;
}

    .hoster-img{
    width: 150px;
    height: 150px;
}

    .hoster-experience{
    font-size: 12px;
}


















}